<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Logged in as <strong><%= userName %></strong></p>

    <div class="container">
      <div class="row grid-2-col">

        <div class="column">
          <form method="post" enctype="multipart/form-data">

            <input type="hidden" value="<%= userId %>" name="userId"/>
            <input type="hidden" value="<%= userName %>" name="userName"/>
            <input type="hidden" value="<%= userEmail %>" name="userEmail"/>

            <input type="text" name="postTitle" placeholder="title">
            <textarea name="postContent" id="" cols="30" rows="10"></textarea>
            <input name="postPicture" type="file">
            <button type="submit">add</button>

          </form>
        </div>

        <div class="column">
          <ul id="user-post-list">

          </ul>
        </div>

      </div>
    </div>

    <nav>
      <ul>
        <li><a href="/userPage">Back to User Page</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </nav>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
